@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "./abstracts/mixins";
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
body {
  color: #fff;
  background: linear-gradient(-45deg, #9aaa7d, #968686, #509097);
  font-family: Nunito;
  position: relative;
  scroll-behavior: smooth;
  background-size: 500% 1000%;
  height: 100%;
  animation: change 70s ease-in-out infinite;
  overflow-x: hidden;
  transition: background-color 0.1s ease;
}
button,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1 {
  @include fontSize;
}

/* navbar */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 200;
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 10px;
    align-items: center;
    @include respond(tab-land) {
      padding: 20px 20px 10px;
    }
  }
  .logo {
    font-family: Nunito;
    font-weight: 900;
    font-size: 20px;
    @include respond(tab-land) {
      font-size: 18px;
    }
  }
}

/* header */
.header {
  height: 100%;
  width: 80%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  @include respond(desktop) {
    width: 85%;
  }
  .header-text {
    padding-top: 50px;
    @include respond(tab-land) {
      padding-top: 25px;
    }
    p {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 500;
      @include respond(desktop) {
        font-size: 17px;
      }
      @include respond(tab-land) {
        font-size: 15px;
      }
      &:last-child {
        font-size: 16px;
        @include respond(desktop) {
          font-size: 15px;
        }
        @include respond(tab-land) {
          font-size: 14px;
        }
        a {
          color: rgb(218, 168, 168);
          cursor: pointer;
          position: relative;
          font-weight: 700;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            border-radius: 8px;
            background: rgb(218, 168, 168);
            transition: width ease-in-out 0.2s;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
    }
    .job {
      margin: 5px 0 30px;
      font-size: 80px;
      font-weight: 600;
      line-height: 80px;
      font-family: Poppins;
      color: #dfedee;
      @include respond(desktop) {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 20px;
      }
      @include respond(tab-land) {
        font-size: 50px;
        line-height: 60px;
      }
      @include respond(tab-port) {
        font-size: 40px;
        line-height: 50px;
      }
      @include respond(mobile) {
        font-size: 35px;
        line-height: 40px;
      }
    }
  }
}

// side-nav
.side-nav {
  position: fixed;
  top: 60%;
  right: 0;
  @include respond(desktop) {
    right: -1%;
  }
  @include respond(tab-port) {
    top: 75%;
  }

  ul {
    .about-link {
      right: 30%;
    }
    .works-link {
      right: 40%;
    }
    .contact-link {
      right: 50%;
    }
    li {
      font-size: 13px;
      font-weight: 700;
      width: 100px;
      margin-bottom: 60px;
      position: relative;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      @include respond(tab-land) {
        width: 70px;
      }
      @include respond(desktop) {
        font-size: 12px;
      }
      @include respond(tab-land) {
        font-size: 10px;
      }
      @include respond(tab-port) {
        margin-bottom: 40px;
      }

      &:hover {
        right: 70%;
        font-weight: 800;
      }
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background: rgb(201, 201, 201);
        position: absolute;
        top: 50%;
        right: -80px;
        @include respond(tab-land) {
          right: -50px;
        }
      }
    }
  }
}

.icon {
  width: 20px;
  color: #b2b1b9;
  transition: color ease-in-out 0.3s;
}
.icon:hover {
  color: #acebd2;
}

/* link-style */
a {
  text-decoration: none;
  color: #fff;
}

/* about-section */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto 200px;
  line-height: 30px;
  color: #e9e9eb;
  height: 100%;
  width: 80%;
  @include respond(tab-port) {
    width: 88%;
  }
  padding-top: 20px;
  h1 {
    margin-bottom: 30px;
  }
  &-container {
    display: flex;
    width: 70%;
    @include respond(desktop) {
      width: 75%;
      font-size: 14px;
    }
    @include respond(tab-port) {
      width: 100%;
      font-size: 13px;
      line-height: 25px;
    }
    @include respond(mobile) {
      font-size: 12px;
    }
    .vertical-line {
      width: 10%;
      margin-right: 20px;
      border-right: 2px solid #6decb9;
      opacity: 0.5;
    }
    .work-techs {
      margin: 20px 0 10px;
    }
    .technologies {
      width: 50%;
      justify-content: space-between;
      display: flex;
      @include respond(tab-port) {
        width: 60%;
      }
      @include respond(mobile) {
        width: 68%;
      }
      .tech {
        display: flex;
        align-items: center;
        .arrow {
          width: 20px;
        }
      }
    }
  }
}

.work-page {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 50px auto 0;
  padding-bottom: 100px;
  @include respond(desktop) {
    grid-template-columns: 1fr 1fr;
    width: 75%;
  }

  @include respond(tab-land) {
    grid-template-columns: 1fr;
  }
  @include respond(mobile) {
    width: 85%;
    margin-top: 40px;
  }

  &-title {
    width: 80%;
    margin: 120px auto 0;
    @include respond(tab-land) {
      margin-top: 100px;
    }
    @include respond(mobile) {
      margin-top: 90px;
    }
  }
  &-container {
    width: 100%;
    overflow: hidden;
    height: 250px;
    border-radius: 4px;
    position: relative;
    box-shadow: -2px 0px 8px 0px rgba(106, 104, 104, 0.75);
    transition: box-shadow 0.2s ease-in-out;
    &:hover {
      box-shadow: -1px 0px 10px 0px rgba(58, 57, 57, 0.75);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .work-info {
      width: 100%;
      position: absolute;
      height: 100%;
      bottom: 0;
      color: #000;
      background: linear-gradient(0deg, #12232474 0%, #b5e4e03c 114.29%);
      &-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        .title-icon {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
          width: 100%;
          padding-top: 20px;
          .work-title {
            font-size: 16px;
            font-weight: 700;
            padding-left: 10px;
            color: #fff;
          }
          .icon-2 {
            width: 17px;
            padding-right: 20px;
            color: #8de4ee;
          }
        }

        .techs {
          display: flex;
          justify-content: space-between;
          width: 160px;
          margin: 0 0 20px;
          padding-left: 10px;
        }
        .technology {
          font-size: 10px;
          color: #fff;
          background: #1c1d1c8a;
          padding: 4px 6px;
          border-radius: 15px;
        }
      }
    }
  }
}

/* contact me */
.contact {
  display: grid;
  place-items: center;
  height: 100%;
  &-container {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    @include respond(tab-land) {
      width: 60%;
    }
    @include respond(tab-port) {
      width: 80%;
    }
    h1 {
      margin-bottom: 20px;
    }
    .text {
      color: #e9e9eb;
      margin-bottom: 40px;
      @include respond(desktop) {
        font-size: 14px;
      }
    }
    .btn {
      margin-top: 50px;
      a {
        font-size: 13px;
        padding: 10px;
        background: transparent;
        border: 1px solid rgb(218, 168, 168);
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
        @include respond(tab-port) {
          font-size: 11px;
          padding: 8px;
        }
        &:hover {
          background: rgb(218, 168, 168);
        }
      }
    }

    .socials {
      margin-top: 50px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      @include respond(tab-port) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 20px;
        place-items: center;
      }
      .icon {
        @include respond(tab-port) {
          width: auto;
          display: flex;
          align-items: center;
        }
        svg {
          width: 14px;
          @include respond(tab-land) {
            width: 12px;
          }
          @include respond(tab-port) {
            margin-right: 8px;
          }
        }
        font-size: 12px;
      }
    }
  }
}

@keyframes change {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
