@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  color: #fff;
  background: #171717;
  font-family: Roboto;
  position: relative;
  scroll-behavior: smooth;
 
}

/* navbar */
.navbar {
  width: 100%;
  background: #171717;
  position: fixed;
  top: 0;
  z-index: 200;
}
.nav {
  display: flex;
  justify-content: space-between;
 padding: 15px 40px 10px;
  align-items: center;
  font-size: 14px;
}
.navbar.active {
  background: #6DECB9;

}
.logo {
  font-family: Lobster;
  font-size: 60px;
}

.nav-items {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.hamburger{
  border: none;
  outline: none;
  background: none;
  display: none;
}
.nav-items a:not(:nth-child(4)) {
  position: relative;
  margin-right: 30px; 
}

.nav-items a:not(:nth-child(4))::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: #6DECB9;
  transition: width ease-in-out .2s;
}

.nav-items a:not(:last-child):hover::after{
  width: 100%;
}

.btn-contact {
  padding: 15px 40px;
  background: #6DECB9;
  border: 1px solid #6DECB9;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: background ease-in-out .3s;
  color: #141414;
}
.btn-contact:hover {
  background: transparent;
  border: 1px solid #6DECB9;
  color: #fff;
}


/* header */
.header {
  height: 100vh;
  width: 70%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
} 
.header-text {
  width: 57%;
}
.header-text p:first-child {
  margin-bottom: 5px;
  font-size: 20px;
}
.name {
  font-size: 54px;
  font-weight: 700;
}
.job {
  font-size: 22px;
  margin: 10px 0 50px;

}
span{
  color: #6DECB9;
}
.btn {
  padding: 10px 40px;
  background: none;
  color: #fff;
  border: 1px solid #6DECB9;
  border-radius: 2px;
  cursor: pointer;
  transition: background ease-in-out .3s;
}
.btn:hover {
  background: #6DECB9;
}
.image {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #171717 ;
}
.img-figure {
  position: relative;
}

.img-figure::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -5px;
  width: 100%;
  height: 96.5%;
  border-radius: 50%;
  background: #6DECB9;
  z-index: -1;
}

/* positioned elements */
.element-1, .element-2{
  position: fixed;
}
.element-1{
right: -9px;
bottom: -70px;
}
.element-2 {
  top: 180px;
  left: -20px;
}
.icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 40px;
  left: 20px;
}
.icon {
  width: 20px;
  color: #B2B1B9;
  transition: color ease-in-out .3s;
}
.icon:hover {
  color: #6DECB9;
}
.icon:not(:last-child) {
  margin-bottom: 20px;
}


/* link-style */
a {
  text-decoration: none;
  color: #fff;
}




/* about-section */
.about {
  padding-top: 100px;
  width: 50%;
  margin: 0px auto 200px;
  line-height: 30px;
  color: #B2B1B9;
}
.about h1 {
  color: #fff;
  margin-bottom: 30px;
}
.about-container {
  display: flex;
}
.vertical-line {
  width: 10%;
  margin-right: 20px;
  border-right: 2px solid #6DECB9;
  opacity: .3;
}
.technologies {
  width: 50%;
  justify-content: space-between;
  display: flex;
}
.tech {
  display: flex;
  align-items: center;
}
.arrow {
  width: 20px;
}
.techs {
  margin-top: 20px;
}


/* my works */
.works {
  width: 70%;
  margin: 0 auto ;
}
.works h1 {
  margin-bottom: 70px;
}
.works h3 {
  color: #fff;
}
.work {
  display: grid;
  margin-bottom: 200px;
  grid-template-columns: 70% 30%;
  position: relative;
}
.work-img{
  position: relative;
}
.w-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
   position: relative;
   z-index: -2;
} 
.img-figure-2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #6DECB9;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: .3;
  transition: opacity ease-in-out .2s;
}
.img-figure-2:hover::before {
  opacity: 0;
}
.switch .work-img::before{
  bottom: -18px;
  left: 18px;
}
.switch .work-img::after{
  bottom: -20px;
  left: 20px;
}
.switch .work-img:hover::before{
  bottom: -12px;
  left: 12px;
}
.switch .work-img:hover::after{
  bottom: -14px;
  left: 14px;
}
.work-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #171717;
  bottom: -18px;
  left: -18px;
  z-index: -3;
  border-radius: 3px;
  transition: all ease-in-out .3s;
}
.work-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #6DECB9;
  opacity: .3;
  bottom: -20px;
  left: -20px;
  z-index: -30;
  border-radius: 3px;
  transition: all ease-in-out .3s;
}
.work-img:hover::before {
  bottom: -12px;
  left: -12px;

} 
.work-img:hover::after {
  bottom: -14px;
  left: -14px;

} 
.info{
  margin-top: 20px;
  color: #B2B1B9;
} 
.info h3 {
  text-align: right;
}
.switch {
  grid-template-columns: 30% 70%;
}
 .switch div:nth-child(1) {   
   order: 1; 
}
.switch .info h3 {
text-align: left;
}

.desc {
  background: #202020;
  position: relative;
  width: 120%;
  top: 30%;
  transform: translateY(-50%);
  right: calc(20% + 40px);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px #141414;
  
} 
.switch .desc {
  left: 0;
}

.icons-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.switch .icons-work {
  left: 0;
}
.icon-work {
 width: 18px;
 margin-bottom: 0;

 transition: color ease-in-out .2s;
 
}
.icon-work:hover {
  color: #6DECB9;
}
.viewmore {
  text-align: center;
  margin: -100px 0 100px;
}
.viewmore a {
  color: #6DECB9;
  font-size: 13px;
  
}



/* contact me */
.contact {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.contact h1{
  margin-bottom: 20px;
}
.text {
  color: #B2B1B9;
  margin-bottom: 80px;
}
.get-in-touch {
  color: #6DECB9;
  padding: 20px;
  border: 1px solid #6DECB9;
  border-radius: 2px;
  margin-top: 50px;
  transition: all ease-in-out .3s;
}
.get-in-touch:hover {
  background: #6DECB9;
  color: #171717;
}
.footer-text {
  margin: 200px 0 100px;
  text-align: center;
  font-size: 13px;
  color: #6DECB9;
  font-family: monospace;
  
}



@media (prefers-reduced-motion: no-preference) {
  .navbar {
    transform: translateY(0px);;
  }
}


.side-nav{
  width: 50%;
  height: 100vh;
  background: #6DECB9;
  z-index: 999;
  position: fixed;
  top: 0;
  right: -1000px;
  transition: right ease .3s;
  font-size: 13px;
  
}
.side-nav-items {
  margin-top: 100px;
}
.side-nav-items li{
  color: #171717;
  margin-bottom: 50px;
  text-transform: uppercase;
  padding: 0 0px 0 30px;
}
.close {
  position: absolute;
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  outline: none;
  top: 0;
  right: 0;
}


/* Responsiveness */
@media (max-width:1040px) and (min-width:850px) {
  .navbar a {
    font-size: 13px;
  }
  .logo {
    font-size: 55px;
  }
  .btn-contact{
    padding: 12px 35px;
  }

  .header {
    width: 75%;
  }
  .header-text p:first-child {
    font-size: 17px;
  }
  .name {
    font-size: 50px;
  }
  .job {
    font-size: 18px;
  }
  .btn {
    padding: 8px 35px;
    font-size: 15px;
  }
  .image {
    width: 290px;
    height: 290px;
  }

  .icon {
    width: 18px;
  }
  .info h3 {
    font-size: 15px;
  }
  .desc{
    font-size: 13px;
  }
  .works {
    width: 75%;
  }

}

@media (max-width: 849px) and (min-width:750px) {
  .navbar a {
    font-size: 12px;
  }
  .logo {
    font-size: 50px;
  }
  .btn-contact{
    padding: 12px 30px;
  }

  .header {
    width: 75%;
  }
  .header-text{
    width: 60%;
  }
  .header-text p:first-child {
    font-size: 17px;
  }
  .name {
    font-size: 46px;
  }
  .job {
    font-size: 16px;
  }
  .btn {
    padding: 8px 35px;
    font-size: 14px;
  }
  .image {
    width: 250px;
    height: 250px;
  }

  .icon {
    width: 18px;
  }
  .icons-work{
    width: 8%;
  }
  .element-1{
    right: -28px;
 
    }
  .about {
    width: 60%;
    font-size: 14px;
  }
  .info h3 {
    font-size: 17px;
  }
  .desc{
    font-size: 13px;
  }
  .works {
    width: 75%;
  }
  .text {
    font-size: 14px;
    line-height: 26px;
  }

}


@media (max-width: 749px) and (min-width:0px){

  .nav-items a {
    display: none;
  }
  .hamburger{
    display: block;
  }
  .header {
    flex-direction: column;
    justify-content: center;
  }
  .image-container {
    display: none;
  }
  .header-text{
    width: 100%;
  }
  .element-2 {
    width: 60px;
  }
  .element-1 {
    width: 60px;
    bottom: -35px;
  }
  .icons {
    left: 10px;
  }
  .work {
    display: block;
    margin-bottom: 80px;
  }
  .works h1 {
    margin-bottom: 30px;
  }
  .work-img::before{
    bottom: -12px;
    left: -12px;
  }
  .work-img::after{
    bottom: -14px;
    left: -14px;
  }
  .work-img:hover::before {
    bottom: -8px;
    left: -8px;
  
  } 
  .work-img:hover::after {
    bottom: -10px;
    left: -10px;
  
  } 
  .switch .work-img::before{
    bottom: -12px;
    left: 12px;
  }
  .switch .work-img::after{
    bottom: -14px;
    left: 14px;
  }
  .switch .work-img:hover::before{
    bottom: -8px;
    left: 8px;
  }
  .switch .work-img:hover::after{
    bottom: -10px;
    left: 10px;
  }
  .icon-work{
    width: 15px ;
  }
  .icons-work {
    width: 10%;
    margin: 0;
    position: relative;
  }
  .switch .icons-work {
    margin: 0;
  }
  .icon-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 35px 0 15px;
  }
  .desc{
    width: 80%;
    margin: 0px auto;
    top: 0;
    right: 0;
    transform: translateY(0);
  }
  .viewmore {
    text-align: center;
    margin: -40px 0 100px;
    font-size: 12px;
  }
}
@media (max-width: 749px) and (min-width:500px) {
  .nav{
    padding: 10px 35px;
  }
  
  .logo {
    font-size: 47px;
  }

  .header {
    width: 75%;
  }

  .header-text p:first-child {
    font-size: 17px;
  }
  .name {
    font-size: 44px;
  }
  .job {
    font-size: 15px;
  }
  .btn {
    padding: 8px 35px;
    font-size: 14px;
  }

  .icon {
    width: 16px;
  }

  .element-1{
    right: -28px;
 
    }
  .about {
    width: 70%;
    font-size: 13px;
    margin-bottom: 120px;
    line-height: 24px;
  }
  .about h1 {
    font-size: 27px;
  }

  .works {
    width: 75%;
  }
  .works h1 {
    font-size: 27px;
  }
  .info h3 {
    font-size: 15px;
  }
  .desc{
    font-size: 13px;
    line-height: 24px;
  }
  .contact h1{
    font-size: 27px;
  }
  .text {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 60px;
  }
  .get-in-touch {
    padding: 15px;
    font-size: 13px;
  }
  
  .footer-text{
    font-size: 10px;
  }

}
@media (max-width: 499px) and (min-width: 340px) {
  .nav{
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 40px;
  }
  .element-2 {
    width: 40px;
    left: -14px;
  }
  .element-1 {
    width: 40px;
    bottom: -20px;
    right: -20px;
  }
  .header {
    width: 75%;
  }

  .header-text p:first-child {
    font-size: 13px;
  }
  .name {
    font-size: 30px;
  }
  .job {
    font-size: 14px;
  }
  .btn {
    padding: 6px 35px;
    font-size: 12px;
  }
  .icons {
    left: 10px;
  }
  .icon {
    width: 12px;
  }
  .about {
    width: 82%;
    font-size: 13px;
    margin-bottom: 120px;
    line-height: 24px;
  }
  .vertical-line {
    width: 20%;
    margin-right: 10px;
  
  }
  .technologies {
    width: 70%;
  }
  .about h1 {
    font-size: 20px;
  }
  .work-img::before{
    bottom: -10px;
    left: -10px;
  }
  .work-img::after{
    bottom: -12px;
    left: -12px;
  }
  .work-img:hover::before {
    bottom: -6px;
    left: -6px;
  
  } 
  .work-img:hover::after {
    bottom: -8px;
    left: -8px;
  
  } 
  .switch .work-img::before{
    bottom: -10px;
    left: 10px;
  }
  .switch .work-img::after{
    bottom: -12px;
    left: 12px;
  }
  .switch .work-img:hover::before{
    bottom: -6px;
    left: 6px;
  }
  .switch .work-img:hover::after{
    bottom: -8px;
    left: 8px;
  }
  .w-image {
    height: 200px;
  }
  .works {
    width: 75%;
  }
  .works h1 {
    font-size: 20px;
  }
  .info h3 {
    font-size: 13px;
  }
  .desc{
    font-size: 12px;
    line-height: 22px;
  }
  .icon-work{
    width: 12px;
  }
  .icons-work {
    width: 11%;
  }
  .contact h1{
    font-size: 20px;
  }
  .contact {
    width: 65%;
  }
  .text {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .get-in-touch {
    padding: 13px;
    font-size: 12px;
    margin-top: 40px;
  }
  
  .footer-text{
    font-size: 9px;
  }

}

@media (max-width: 339px) and (min-width: 270px) {
  .nav{
    padding: 10px 15px;
  }
  
  .logo {
    font-size: 40px;
  }
  .element-2 {
    width: 40px;
    left: -14px;
  }
  .element-1 {
    width: 40px;
    bottom: -20px;
    right: -20px;
  }
  .header {
    width: 75%;
  }

  .header-text p:first-child {
    font-size: 13px;
  }
  .name {
    font-size: 30px;
  }
  .job {
    font-size: 14px;
  }
  .btn {
    padding: 6px 30px;
    font-size: 10px;
  }
  .icons {
    left: 9px;
  }
  .icon {
    width: 12px;
  }
  .about {
    width: 82%;
    font-size: 12px;
    margin-bottom: 120px;
    line-height: 24px;
  }
  .vertical-line {
    width: 15%;
    margin-right: 10px;
  
  }
  .technologies {
    width: 70%;
  }
  .about h1 {
    font-size: 18px;
  }
  .work-img::before{
    bottom: -10px;
    left: -10px;
  }
  .work-img::after{
    bottom: -12px;
    left: -12px;
  }
  .work-img:hover::before {
    bottom: -6px;
    left: -6px;
  
  } 
  .work-img:hover::after {
    bottom: -8px;
    left: -8px;
  
  } 
  .switch .work-img::before{
    bottom: -10px;
    left: 10px;
  }
  .switch .work-img::after{
    bottom: -12px;
    left: 12px;
  }
  .switch .work-img:hover::before{
    bottom: -6px;
    left: 6px;
  }
  .switch .work-img:hover::after{
    bottom: -8px;
    left: 8px;
  }
  .w-image {
    height: 200px;
  }
  .works {
    width: 75%;
  }
  .works h1 {
    font-size: 18px;
  }
  .info h3 {
    font-size: 11px;
  }
  .desc{
    font-size: 10px;
    line-height: 18px;
    padding: 13px;
  }
  .icon-work{
    width: 11px;
  }
  .icons-work {
    width: 12%;
  }
  .contact h1{
    font-size: 18px;
  }
  .contact {
    width: 70%;
  }
  .text {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .get-in-touch {
    padding: 13px;
    font-size: 12px;
    margin-top: 40px;
  }
  
  .footer-text{
    font-size: 9px;
  }

}







.loading{
  height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background: #171717;
}
.circle-container {
  display: grid;
  grid-template-columns: 30px 30px 30px;
}
.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #6DECB9;
  opacity: .3;
  transition: opacity ease .3s;
  animation-name: animate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.circle-2 {
  animation-delay: .4s;
}
.circle-3 {
  animation-delay: .8s;
}




@keyframes animate {
  from {opacity: .3;}
  to {opacity: 1;}
}