@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
body{
  color: #fff;
  background: #171717;
  font-family: Roboto;
  position: relative;
  scroll-behavior: smooth;
}
.navbar {
  width: 100%;
  background: #171717;
  position: fixed;
  top: 0;
  z-index: 3000;
}
.nav {
  display: flex;
  justify-content: space-between;
padding: 20px 40px 15px;
  align-items: center;
  font-size: 14px;
}
.navbar.active {
  background: #6DECB9;

}
.logo {
  font-family: Lobster;
  font-size: 60px;
}

.nav-items {
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.nav-items a:not(:last-child) {
  position: relative;
  margin-right: 30px; 
}
.nav-items a:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: #6DECB9;
  transition: width ease-in-out .2s;
}
.nav-items a:not(:last-child):hover::after{
  width: 100%;
}


.btn-contact {
  padding: 15px 40px;
  background: #6DECB9;
  border: 1px solid #6DECB9;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  transition: background ease-in-out .3s;
  color: #141414;
}
.btn-contact:hover {
  background: transparent;
  border: 1px solid #6DECB9;
  color: #fff;
}
.header {
  min-height: 100vh;
 width: 70%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
} 
.header-text {
  width: 60%;
}
.header-text p:first-child {
  font-size: 20px;
}
.name {
  font-size: 54px;
  font-weight: 700;
}
.job {
  font-size: 22px;
  margin: 10px 0 50px;

}
span{
  color: #6DECB9;
}
.image {
  width: 310px;
  height: 310px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #171717 ;

  
}
.image-container {
  position: relative;
}
/* .image-container:hover {

} */
.image-container::after {
  content: "";
  position: absolute;
  bottom: 8px;
  right: -10px;
  width: 315px;
  height: 315px;
  border-radius: 50%;
  background: #6DECB9;
  z-index: -1;
  transition: right ease-in-out .3s;

}
.image-container:hover::after{
  right: -6px;

}

.btn {
  padding: 10px 40px;
  background: none;
  color: #fff;
  border: 1px solid #6DECB9;
  border-radius: 2px;
  cursor: pointer;
  transition: background ease-in-out .3s;
}
.btn:hover {
  background: #6DECB9;
 
}
.element-1, .element-2{
  position: fixed;
}
.element-1{
right: -9px;
bottom: -70px;
}
.element-2 {
  top: 180px;
  left: -20px;
}
.icons {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 40px;
  left: 20px;
}
.icon {
  width: 23px;
  color: #B2B1B9;
  transition: color ease-in-out .3s;
}
.icon:hover {
  color: #6DECB9;
}
.icon:not(:last-child) {
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}

.about {
  padding-top: 100px;
  width: 50%;
  margin: 0px auto 200px;
  line-height: 30px;
  color: #B2B1B9;
}
.about h1 {
  color: #fff;
  margin-bottom: 30px;
}
.about-container {
  display: flex;
}
.vertical-line {
  width: 10%;
  margin-right: 20px;
  border-right: 2px solid #6DECB9;
  opacity: .3;
}


.technologies {
  width: 50%;
  justify-content: space-between;
  display: flex;
}
.tech {
  display: flex;
}
.arrow {
  width: 20px;
}
.techs {
  margin-top: 20px;
}
.works {
  width: 70%;
  margin: 0 auto ;
}
.works h1 {
  margin-bottom: 70px;
}
.works h3 {
  color: #fff;
}
.work {
  display: grid;
  margin-bottom: 200px;
  grid-template-columns: 70% 30%;
  position: relative;
}
.work-img{
  position: relative;
}

 .w-image {
  /* width: 600px; */
   width: 100%;
   height: 100%;
   object-fit: cover;
   /* border: 13px solid #171717; */
   border-radius: 10px;
   position: relative;
   z-index: -2;
} 
figure::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #6DECB9;
  top: 0;
  left: 0;
  border-radius: 10px;
  opacity: .3;
  transition: opacity ease-in-out .2s;
}
figure:hover::before {
  opacity: 0;
}
.switch .work-img::before{
  bottom: -18px;
  left: 18px;
}
.switch .work-img::after{
  bottom: -20px;
  left: 20px;
}
.switch .work-img:hover::before{
  bottom: -12px;
  left: 12px;
}
.switch .work-img:hover::after{
  bottom: -14px;
  left: 14px;
}

.work-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #171717;
  bottom: -18px;
  left: -18px;
  z-index: -3;
  border-radius: 3px;
  transition: all ease-in-out .3s;
}
.work-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #6DECB9;
  opacity: .3;
  bottom: -20px;
  left: -20px;
  z-index: -30;
  border-radius: 3px;
  transition: all ease-in-out .3s;
}
.work-img:hover::before {
  bottom: -12px;
  left: -12px;

} 
.work-img:hover::after {
  bottom: -14px;
  left: -14px;

} 



.info{
  margin-top: 20px;
  color: #B2B1B9;
} 
.info h3 {
  text-align: right;
}
.switch {
  grid-template-columns: 30% 70%;
}
 .switch div:nth-child(1) {   
   order: 1; 
}
.switch .info h3 {
text-align: left;
}

.desc {
  background: #202020;
  position: relative;
  width: 120%;
  top: 30%;
  transform: translateY(-50%);
  right: calc(20% + 40px);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px #141414;
  
} 
.switch .desc {
  left: 0;
}

.icons-work {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  width: 8%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.switch .icons-work {
  left: 0;
}
.icon-work {
 width: 20px;
 margin-bottom: 0;

 transition: color ease-in-out .2s;
 
}
.icon-work:hover {
  color: #6DECB9;
}

.contact {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.contact h1{
  margin-bottom: 20px;
}
.text {
  color: #B2B1B9;
  margin-bottom: 80px;
}
.get-in-touch {
  color: #6DECB9;
  padding: 20px;
  border: 1px solid #6DECB9;
  border-radius: 2px;
  margin-top: 50px;
  transition: all ease-in-out .3s;
}
.get-in-touch:hover {
  background: #6DECB9;
  color: #171717;
}
.footer-text {
  margin: 200px 0 100px;
  text-align: center;
  font-size: 13px;
  color: #6DECB9;
  font-family: monospace;
  
}



@media (prefers-reduced-motion: no-preference) {
  .navbar {
    transform: translateY(0px);;
  }
}